/*CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
nav{
    
    height: 80px;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkred;
    border:2px solid black;
    


}

@media screen and (max-width: 600px) {
    .nascosto{ display:none

    }
    .x{display: flex;

    }
}
@media screen and (min-width: 600px) {
    .x{ display:none

    }
    .nascosto{display: flex;

    }
}






ul{
    
    display:flex;
    align-items:center;
    list-style-type: none;
    

}
a{
    font-weight: bold;
    padding:10px;
    text-decoration: none;
    color:white;

}
.logo{
    margin-left:20px;
    height: 40px;
    width: 100px;
}
.x{
    height: 40px;
    width: 100px;
    margin-right:20px;

}

