/*CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
nav{
    height: 80px;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkred;
    border:2px solid black;
    
    
    


}
ul{
    
    display:flex;
    align-items:center;
    list-style-type: none;
    

}
a{
    font-weight: bold;
    padding:10px;
    text-decoration: none;
    color:white;

}
.logo{
    margin-left:20px;
    height: 40px;
    width: 100px;
}
.herosection{
    height:calc(100vh - 80px);
    width: 100vw;
    background-image:url("download.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}